/*
https://github.com/parcel-bundler/parcel/issues/329
Theme currently duplicated in .postcssrc.
*/

@import "./themes/base16-harmonic16-light.css";

@import "./reset.css";
@import "./pages/components/Chat.css";
@import "./pages/components/PreGame.css";
@import "./pages/components/Hand.css";
@import "./pages/components/PlayerHand.css";
@import "./pages/components/Tricks.css";

body {
    background: var(--base00);
    color: var(--base06);
    font-family: monospace;
}

.bg {
    white-space: pre;
    position: fixed;
    bottom: 0;
    right: 0;
    max-width: 50%;
    opacity: 0.2;
    user-select: none;
    margin: 20px;
    z-index: -1;
}

.turbo {
    display: flex;
    flex-direction: row;
    min-height: 200px;
}

.pre-game,
.game,
.chat {
    min-width: 100px;
    padding: 10px;
    overflow: auto;
}

.test-frame {
    height: 200px;
    width: 600px;
    margin: 10px 10px 0;
    border: 1px solid var(--base04);
}

._clubs {
    color: var(--base0B);
}

._diamonds {
    color: var(--base0C);
}

._hearts {
    color: var(--base0F);
}

._spades {
    color: var(--base07);
}
