.trick-table .pass {
  text-align: center;
  padding: 3px;
}

.trick-table {
  border-collapse: collapse;
}

.trick-table .play:empty {
  border: 0;
}

.trick-table .play,
.players-row .player {
  border: 1px solid var(--base01);
  padding: 3px;
  width: 23px;
  text-align: center;
}
