.game > .trick-table {
  border-collapse: collapse;

  & .pass-row > .pass {
    text-align: center;
    padding: 3px;
  }

  & .trick-row > .play:empty {
    border: 0;
  }

  & .trick-row > .play,
  & .players-row > .player,
  & .charges-row > .charge {
    border: 1px solid var(--base01);
    padding: 3px 0;
    width: 29px;
    text-align: center;
  }

  & .players-row > .player.-ready {
    color: var(--base0B);
  }

  & tr.spacer > td {
    padding-bottom: 5px;
    border: 0;
  }
}

.game > .play-action {
  margin-top: 10px;
  width: 100%;
}
